<!--
 * @Author: your name
 * @Date: 2021-01-31 15:48:10
 * @LastEditTime: 2021-02-01 12:24:12
 * @LastEditors: Please set LastEditors
 * @Description: 绑定操作:表单绑定:v-model
 * @FilePath: \Study_Notes\Vue\v-model.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
      <!-- v-model简单示例 -->
      <!-- <input type="text" name="content" id="content" v-model="content">
      <div>{{content}}</div>
      <hr> -->
      <!-- v-model原理示例 -->
      <!-- <input type="text" name="content" id="content" :value="content" @input="content=$event.target.value">
      <div>{{content}}</div> -->

      <!-- v-model:radio -->
      <div>
        <label for="male">
          <input type="radio" value="男" name="gender" id="male" v-model="gender">男
        </label>
        <label for="female">
          <input type="radio" value="女" name="gender" id="female" v-model="gender">女
        </label>
        <div>
          您的信息内容: {{gender}}
        </div>
      </div>
      <hr>

      <!-- v-model:checkbox -->
      <!-- 单选框 -->
      <div>
        <label for="check">
          <input type="checkbox" name="check" id="check" v-model="isAgree">同意协议
        </label>
        <div>
          您是否同意协议信息：{{isAgree}}
        </div>
      </div>
      <hr>
      <!-- 复选框 -->
      <div>
        您的爱好：
        <input type="checkbox" name="hobbies" v-model='hobbies' value="看电影" id="movies">电影
        <input type="checkbox" name="hobbies" v-model='hobbies' value="听音乐" id="music">音乐
        <input type="checkbox" name="hobbies" v-model='hobbies' value="跳舞" id="dance">跳舞
        <input type="checkbox" name="hobbies" v-model='hobbies' value="阅读" id="book">阅读
        <input type="checkbox" name="hobbies" v-model='hobbies' value="烹饪" id="cook">烹饪
        <div>
          您所选的爱好有：{{hobbies}}
        </div>
      </div>
      <hr>
      <!-- select -->
      <!-- 单选 -->
      <div>
        单选水果：
        <select name="fruit" id="fruit" v-model="fruit">
          <option value="苹果">苹果</option>
          <option value="草莓">草莓</option>
          <option value="芒果">芒果</option>
          <option value="西瓜">西瓜</option>
          <option value="柚子">柚子</option>
        </select>
        您选中的水果是：{{fruit}}
      </div>
      <!-- 多选 -->
      <div>
        多选水果：
        <select name="fruits" id="fruits" multiple v-model="fruits">
          <option value="苹果">苹果</option>
          <option value="草莓">草莓</option>
          <option value="芒果">芒果</option>
          <option value="西瓜">西瓜</option>
          <option value="柚子">柚子</option>
        </select>
        您选中的水果有这些哦：{{fruits}}
      </div>
      <hr>
      <!-- 值绑定 -->
      <div>
        <label :for="item" v-for="item in ProLanguage">
          <input type="checkbox" name="ProLanguage" :id="item">{{item}}
        </label>
      </div>
      <hr>
      <!-- 修饰符 -->
      <!-- lazy修饰符 -->
      <div>
        <input type="text" name="infor1" id="infor1" v-model="infor">
        <h2>{{infor}}</h2>
        <input type="text" name="infor2" id="infor2" v-model.lazy="infor">
        <h2>{{infor}}</h2>
      </div>
      <hr>
      <!-- number修饰符 -->
      <div>
        <input type="text" name="num1" id="num1" v-model="num">
        <h3>{{typeof num}} {{num}}</h3>
        
        <input type="text" name="num2" id="num2" v-model.number="num">
        <h3>{{typeof num}} {{num}}</h3>
      </div>
      <hr>
      <!-- trim修饰符 -->
      <div>
        <input type="text" name="str1" id="str1" v-model="str">
        <h4>{{str}}</h4>
        
        <input type="text" name="str2" id="str2" v-model.trim="str">
        <h4>{{str}}</h4>
      </div>
    </div>
    <script>
        var vm=new Vue({
          el:'#app',
          data:{
            content:'Hello,v-model',
            gender:'',
            isAgree:false,  // 单选框
            hobbies:[],   // 多选框
            fruit:'',
            fruits:[],
            ProLanguage:['Python', 'PHP', 'JavaScript', 'Java', 'C++'],
            infor:"学习使我快乐...",
            num:0,
            str:''
          },
          methods:{}
        });
    </script>
</body>

</html>